/*CSS Reset*/
* {
    margin: 0px;
    padding: 0px;
    font-family: cursive;
}
/*header navigation*/
header#nav {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    margin-bottom: 50px;
}
header#nav div {
    display: flex;
    align-items: center;
    width: 70%;
}
header#nav div #nav-title {
    padding: 10px;
}
header#nav nav a{
    width: 40%;
    padding: 10px;
    color: #cdcdcd;
    text-decoration: none;
}
header#nav nav a:hover{
    color: white;
}
header#nav button {
    height: 100%;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: #dfffff;
    background-color: #1a9eb5;
    border: 1px solid black;
}
/*main container*/
#main-container {
    display: flex;
    width: 80%;
    margin: 0 auto;
}
/* General Classes*/
.card {
    background-color: white;
    border: 1px solid gray;
    margin-bottom: 10px;
}
.black-header {
    background-color: #000000;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
}
.icon {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.amount {
    min-width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.entry-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 110px;
}
/*Columns*/
.col {
    flex:2;
    padding: 20px;
}
.col-2 {
    flex:1;
    padding: 20px;
}
/*info card*/
#info-card {
    overflow: hidden;
}
#info-card header {
    background-color: #17a2b7;
    height: 100px;
    margin-bottom: 70px;
}
#info-card header img {
    border-radius: 50%;
    height: 128px;
    border: 2px solid white;
    margin-top: 40px;
    margin-left: 20px;
}
#info-card #info-content {
    margin-left: 25px;
}
#info-card h3, #info-card #edit-profile {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
#info-card h3 img {
    margin-right: 10px;
}
#info-card #edit-profile a {
    display: flex;
    align-items: center;
}
#info-card #edit-profile a img {
    margin-right: 5px;
}
.info-icon {
    width: 15px;
}
/* Education card */
#education-card {
    margin-top: 20px;
}
#education-content {
    padding: 10px;
} 
#education-content * {
    margin-top: 5px;
}
#education-content .date {
    color: gray;
}
/* Request card */
/* Connection card */
#view-more {
    border-top: 2px solid gray;
    padding: 10px;
}